$background-page: #141b1c;
$background-card: #334247;
$background-price-list-item: #2a3438;
$background-price-card1: #5bb189;
$background-price-card2: #3a6ba5;
$background-price-card3: #ec632a;

$text-color-primary: #ffffff;
